name: Context dump

on:
  workflow_dispatch:

jobs:
  context-dump:
    runs-on: ubuntu-latest
    steps:
      # コンテキスト `github` を出力するステップを書く
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Dump event prop in GitHub context
        run: echo "${{ toJson(github.event) }}"
